/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Palaquin Dark", sans-serif;
  font-weight: 400;
  color: #1b1b1b;
  background-color: #ffffff;
}
body.overflow-hidden {
  /* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */
  overflow: hidden;
}

a {
  color: #252525;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to horizontally align the gallery of items */
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

xheader 

-------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}
@media only screen and (min-width: 1200px) {
  header {
    height: 80px;
  }
}

#logo {
  padding-top: 5px;
  /* delete this property if you don't want your logo to scale down on mobile devices */
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
@media only screen and (min-width: 1200px) {
  #logo {
    padding-top: 20px;
    position: absolute;
    /* logo left margin on Dekstop */
    left: 2.4em;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

#cd-hamburger-menu, #cd-cart-trigger {
  position: absolute;
  top: 0;
  height: 100%;
}
#cd-hamburger-menu a, #cd-cart-trigger a {
  width: 60px;
  height: 100%;
}

#cd-hamburger-menu {
  left: 0;
}
#cd-hamburger-menu a {
  background: #ffffff url("../img/icons/cd-hamburger.svg") no-repeat center center;
}
@media only screen and (min-width: 1200px) {
  #cd-hamburger-menu {
    display: none;
  }
}

#cd-cart-trigger {
  right: 0;
}
#cd-cart-trigger a {
  background: #ffffff url("../img/icons/cd-cart.svg") no-repeat center center;
}
@media only screen and (min-width: 1200px) {
  #cd-cart-trigger {
    /* cart right margin on desktop */
    right: 0;
  }
  #cd-cart-trigger a {
    position: relative;
    width: 100px;
    border-left: none;
    background-color: #ffffff;
  }
}

#main-nav, #cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height */
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  #main-nav, #cd-cart {
    width: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  #main-nav, #cd-cart {
    width: 30%;
    /* header height has changed */
    padding-top: 80px;
  }
}

#main-nav {
  left: -100%;
  background: #FFF;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}
#main-nav.speed-in {
  left: 0;
}
#main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  border-bottom: 1px solid #e0e6ef;
}
#main-nav ul .current {
  box-shadow: inset 3px 0 #435779;
}
@media only screen and (min-width: 1200px) {
  #main-nav {
    /* reset main nav style */
    position: absolute;
    height: auto;
    width: auto;
    left: auto;
    right: 8em;
    padding-top: 0;
    top: 0;
    background: transparent;
    box-shadow: none;
    /* header height */
    line-height: 80px;
    z-index: 4;
  }
  #main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  #main-nav ul a {
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 1em 1.4em;
    border-bottom: none;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.2em;
    transition: all .6s;
  }
  #main-nav ul a.current {
    box-shadow: none;
    background: #ebeaeae1;
    color: rgb(0, 0, 0);
  }
  .no-touch #main-nav ul a:hover {
    background: #f7f5f5;
    color: rgb(0, 0, 0);
  }
}
.no-js #main-nav {
  position: fixed;
}

#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: .4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/cd-remove-item.svg") no-repeat center center;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 2em;
  }
  #cd-cart .cd-cart-items li {
    padding: 1em 2em;
  }
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */


#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* -------------------------------- 

Main content

-------------------------------- */
#fond{
  width: 100%;
  height: 80vh;
  background-image: url('../img/shop-images/fondobella.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: grid;
  align-content: center;
  line-height: 45px;
}
.welcome{
  width: 80vw;
  padding: 5%;
}
.welcome h1{
  color: #000;  
  font-size: 65px;
  font-weight: 700;
  font-family: 'Palanquin Dark', sans-serif;
  padding-bottom: 15px;
  line-height: 60px;
}
.welcome p{
  font-size: 25px;
  font-weight: 400;
  font-family: 'Palanquin Dark', sans-serif;
  line-height: 30px;
}
@media screen and (max-width: 928px){
  #fond{
    width: 100%;
    height: 80vh;
    background-image: url('https://i.pinimg.com/564x/9d/ae/e9/9daee9b99c652930fb45f287a7bdf175.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: grid;
    align-content: center;
    line-height: 45px;
  }
  .welcome h1{
    color: rgb(0, 0, 0);  
    font-size: 65px;
    font-weight: 700;
    font-family: 'Palanquin Dark', sans-serif;
    padding-bottom: 15px;
    line-height: 60px;
    text-shadow: rgb(214, 214, 214) 2px 2px 1px;
  }
  .welcome p{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Palanquin Dark', sans-serif;
    text-shadow: rgb(214, 214, 214) 2px 2px 1px;
    line-height: 30px;
  }
}

/* -------------------------------- 

Productos

-------------------------------- */
.productos-seccion h2{
  margin: 40px 6% 20px;
  font-size: 25px;
  color: rgb(68, 66, 66);
  font-weight: bold;
}

.productos{
  background-color: #fff;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card{
  border: 1px solid rgb(238, 237, 237);
  margin: 15px;
  padding: 10px;
}
.productos img{
  width: 90%;
  margin: 4%;
}
.card .image span{
  background-color: rgb(70, 68, 177);
  font-size: 14px;
  float: right;
  right: 0px;
  color: #fff;
  text-align: center;
  width: 40px;
  padding: 2px;
  border-radius: 20px;
}
.card .info {
  text-align: center;
  font-weight: bold;
}
.card .info h1{
  margin: 10px;
  font-size: 14px;
}
.card .info h6{
  margin: 5px;font-size: 12px;
  color: rgb(255, 89, 89);
  text-decoration: line-through;
}

.card .info h5{
  margin: 5px;
}
@media screen and (max-width: 928px){
  .productos{
    background-color: #fff;
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card{
    border: 1px solid rgb(238, 237, 237);
    margin: 5px;
    padding: 10px;
  }
}
/* -------------------------------- 

Footer

-------------------------------- */
footer{
  background-color: rgb(22, 21, 21);
display: grid;
grid-template-rows: 3fr 1fr;
color: rgb(170, 170, 170);
}
.mini-footer{
  width: 80%;
  margin: auto;
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-column-gap: 10%;
  justify-items: center;
}
.footer-logo img{
  padding-bottom: 20px;
}
.footer-logo p{
  line-height: 20px;
}
.informacion h3{
  font-size: 20px;
  padding-bottom: 10px;
  color: #fff;
}
.informacion .title{
  font-size: 17px;
  padding-bottom: 5px;
  color: rgb(236, 236, 236);
}
.informacion .data{
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 10px;
}
.redes h3{
  font-size: 20px;
  color: #fff;
  margin: 0px 20px; 
  margin-bottom: 20px;
}
.redes a{
 margin: 20px;
}
.redes a img{
  width: 10%;
}
.copyright{
  width: 80%;
  margin: auto;
  color: rgb(197, 197, 197);
  display: grid;
  font-size: 15px;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.copyright a{
  color: rgb(4, 61, 126);
}
@media screen and (max-width: 928px){
  .mini-footer{
    width: 90%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: 60vw;
    grid-column-gap: 10%;
    justify-items: center;
  }
  .footer-logo img{
    padding-bottom: 5px;
  }
  .informacion{
    padding-bottom: 15px;
  }
  .informacion .title{
    font-size: 15px;
    padding-bottom: 5px;
    color: rgb(223, 221, 221);
  }
  .footer-logo p{
    margin-bottom: 20px;
  }
  .redes h3{
    font-size: 20px;
    color: #fff;
    margin: 0px;
    margin-bottom: 20px;
  }
  .redes a{
    margin: 0px;
   margin-right: 40px;
  }
  .redes a img{
    width: 10%;
  }

}








/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
